.app-wrapper {
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-template-areas:"h h" "n c";
    width: 1280px;
    margin: 20px auto;
}

.areas {
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    -webkit-box-shadow: 0 0 7px;
    -moz-box-shadow: 0 0 7px;
    box-shadow: 0 0 7px;
    user-select: none;
    margin: 5px;
    padding: 10px;
<<<<<<< HEAD
    background-color: lightcyan;
=======
}

.content img {
    width: 70%;
>>>>>>> 8b1b236ad04b4d62675a30357153066e5acd076e
}